In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [12]:
df = pd.read_csv("MLR.csv")

In [13]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    9  760000

In [14]:
#Preprocessing

import math
med = math.floor(df.bedrooms.median())

In [15]:
df.bedrooms= df.bedrooms.fillna(med)

In [36]:
reg  = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [38]:
reg.coef_

array([   138.59674892, -22897.57148453,  -6734.23423423])

In [39]:
reg.intercept_

367743.83078730915

In [40]:
reg.predict([[4000,5,9]])

array([747034.8609479])

In [42]:
# Showing teh expected price by coefficients
(138.59674892*4000)  +  (-22897.57148453*5) + (9*-6734.23423423)+367743.83078730915

747034.8609365893